<%- include("common/header") %>

<script>
    window.onload = function () {
        <% if(locals.message){ %>
        alert("<%= message %>")
        <% } %>
    }
</script>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>비밀번호 찾기</li>
            </ol>
            <h2>비밀번호 찾기</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page contact">
        <div class="container">
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex justify-content-center" style="margin:0 auto;">
                <form method="get" action="/user/findPassnext" role="form" class="php-email-form">

                    <div class="form-group">
                        <label for="name">ID</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="name">전화번호</label>
                        <input type="tel" class="form-control" name="phone" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" id="phone" required>
                    </div>
                    <!-- <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div> -->
                    <div class="text-center">
                        <div class="text-center">
                            <button style="width: 40%;" type="submit" formmethod="post" formaction="/user/login">인증 요청
                            </button> &emsp;&emsp;&emsp;
                            <!-- button style="width: 40%;" type="submit" class="mybtn">변경</button> &emsp;&emsp;&emsp; -->
                            <button style="width: 40%;" type="submit">변경</button> &emsp;&emsp;&emsp;
                        </div>
                    </form>
                    <!-- <script>
                        // 웹 페이지가 로드된 후 실행할 함수
                        document.addEventListener('DOMContentLoaded', function() {
                            // 웹 폼(form)을 제출할 때 이벤트 핸들러 등록
                            const webForm = document.getElementById('webForm');
                            webForm.addEventListener('submit', function(event) {
                                // ID 값을 가져옵니다.
                                const username = document.getElementById('username').value;
    
                                // ID 값을 API로 전송
                                const apiUrl = api_url; // API의 URL을 여기에 입력하세요
                                const xhr = new XMLHttpRequest();
                                xhr.open('POST', apiUrl + '/api/user/findPassnext', true);
                                xhr.setRequestHeader('Content-Type', 'application/json');
                                const data = JSON.stringify({ username: username });
                                xhr.send(data);
    
                                // 페이지 이동 방지를 위해 폼 제출을 중단합니다.
                                event.preventDefault();
                                
                                // 웹 페이지로 이동
                                window.location.href = '/user/findPassnext';
                            });
                        });
                    </script> -->
                    </div>
                </form>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<%- include("common/footer") %>